@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin&family=Dancing+Script&display=swap');

* {
    margin: 0px;
    align-items: center;
    overflow: auto;
}

body {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.logo {
    color: white;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    display: block;
    float: left;
    margin-left: 20px;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 30px;
}

.v {
    color: darkorange;
    letter-spacing: 1px;
    font-size: 30px;
}

.navbar ul{
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
    font-family: 'Cabin', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 30px 20px;
    font-size: 20px;
}

a:hover {
    color: darkorange;
}

.name {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5%;
}

.intro {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: larger;
    margin-top: 20px;
    margin-left: 5%;
}

.bio {
    align-items: center;
}

.para {
    width: 50%;
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: larger;
    margin: 5%;
}

.img-thumbnail {
    padding: 10px;
    float: right;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 150px;
    shape-outside: circle(50%);
    margin-left: 5rem;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-left: 5%;
    margin-top: 20%;
    height: 50px;
    width: 250px;
    border: 2px solid darkorange;
    border-radius: 5px;
    background-color: darkorange;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: darkorange;
    cursor: pointer;
}

.skills {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 5%;
}

.projects {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 5%;
}

.contact {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 100px;
    margin-left: 5%;
    bottom: 5rem;
}

.social {
    bottom: 1rem;
    align-items: center;
    margin-left: 5%;
}

.social img {
    margin: 20px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.username {
    bottom: 1rem;
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}

.username:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.skill-box {
    margin: 5%;
    justify-content: center;
    width: 300px;
    height: 320px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}

.skill-box:hover {
    background-color: rgb(233, 233, 233);
    transform: translateY(-10px);
}

.skill-title {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: darkorange;
    margin-top: 20px;
}

.info {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    margin-top: 20px;
}

.container img {
    width: 100px;
    height: 100px;
}

.project {
    margin-top: 5%;
    background-color: rgb(233, 233, 233);
    padding: 40px;
    justify-content: center;
    width: 280px;
    height: 280px;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s;
}

.project-name {
    font-family: 'Cabin', sans-serif;
    color: blueviolet;
    font-size: 20px;
    margin-top: 20px;
}

.description {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    margin-top: 20px;
}

.project img {
    width: 50px;
    height: 50px;
}

.project a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
}

.project a:hover {
    color: white;
    font-weight: bold;
}

.project:hover {
    background-color: darkorange;
    transform: translateY(-10px);
}
