@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin&family=Dancing+Script&display=swap');

* {
    margin: 0px;
    align-items: center;
    overflow: auto;
}

.logo {
    color: white;
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
    display: block;
    float: left;
    margin-left: 20px;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 30px;
}

.v {
    color: darkorange;
    letter-spacing: 1px;
    font-size: 30px;
}

.navbar ul{
    list-style: none;
    background-color: black;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
    font-family: 'Cabin', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 20px;
}

a:hover {
    color: darkorange;
}

.name {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5%;
}

.intro {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: larger;
    margin-top: 20px;
    margin-left: 5%;
}

.bio {
    align-items: center;
}

.para {
    width: 50%;
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: larger;
    margin: 5%;
}

.img-thumbnail {
    padding: 10px;
    float: right;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 200px;
    shape-outside: circle(50%);
    margin-left: 5rem;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-left: 5%;
    margin-top: 20%;
    height: 50px;
    width: 250px;
    border: 2px solid darkorange;
    border-radius: 5px;
    background-color: darkorange;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: darkorange;
    cursor: pointer;
}

.skills {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 5%;
}

.projects {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 5%;
}

.contact {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5%;
    bottom: 5rem;
}

.social {
    bottom: 1rem;
    align-items: center;
    margin-left: 5%;
}

.social img {
    margin: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.username {
    bottom: 1rem;
    color: black;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    display: inline-block;
    vertical-align: middle;
}

.username:hover {
    text-decoration: underline;
}