@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin&family=Dancing+Script&display=swap');

* {
    margin: 20px;
}

.navbar {
    list-style: none;
    font-family: 'Cabin', sans-serif;
    display: flex;
}

.name {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 40px;
}

.intro {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
}

.bio {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
}

.img-thumbnail {
    float: left;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.skills {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
}