@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cabin&family=Dancing+Script&display=swap');

* {
    margin: 0px;
}

.navbar {
    list-style: none;
    font-family: 'Cabin', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    overflow: hidden;
}

a{
    margin: 0 25px;
    float: left;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: cornflowerblue;
}

.name {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

.intro {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}

.bio {
    font-family: 'Architects Daughter', cursive;
    font-weight: lighter;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}

.img-thumbnail {
    padding: 10px;
    float: left;
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.skills {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
}